/* Add CSS Styling */
.odd {
    background-color: rgb(255, 72, 142);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}
.adjust-font-size {
    font-size: 24px;
}
#two {
    color: #7663ff;
    font-size: 36px;
}
#four {
    background-color: hsl(132, 71%, 55%);
    font-weight: bold;
}