body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px;
  margin: 10px 15px;
}

.button-container {
  background: #e3f4ff;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  margin: 10px 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 20px;
  margin: auto auto;
}